.pink{background-color: pink;}
.red{background-color: red;}
.blue{background-color: blue;}
.blue{background-color: blue;}


.bor{
    border: 1px solid tomato;
}
.output
{
    background-color: black;
    color: white;
}
.body{
    background-color: grey;
}
.width{
    width: 25%;
   
}


